name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: douglinhas87
          outputs: |
            dist/github-contribution-grid-snake-light.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=cc1c25

      - name: Publish snake SVG
        uses: crazy-max/ghaction-github-pages@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_branch: output
          build_dir: dist
