name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: douglinhas87
          outputs: |
            dist/github-contribution-grid-snake-cc1c25.svg
            dist/github-contribution-grid-snake-dark.svg?color_snake=cc1c25&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353

      - name: Publish snake SVG
        uses: crazy-max/ghaction-github-pages@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_branch: output
          build_dir: dist
